<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.wanghongjian_and_liuxiao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ναυτικός"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.java.wanghongjian_and_liuxiao.NewsPage"></activity>
        <activity
            android:name="com.java.wanghongjian_and_liuxiao.ui.login.LoginActivity"
            android:label="Ναυτικός Sign in"
            android:parentActivityName="com.java.wanghongjian_and_liuxiao.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.java.wanghongjian_and_liuxiao.MainActivity" />
        </activity>
        <activity
            android:name="com.java.wanghongjian_and_liuxiao.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Ναυτικός Search"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.java.wanghongjian_and_liuxiao.MainActivity"
            android:label="Ναυτικός"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>